*
{
    padding: 0px;
    margin: 0px;
    background-color: aquamarine;
}
th{
    width: 130px;
    height: 130px;
    background-color:green;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 80px;
}
th:hover{
    background-color: palevioletred;
}
#player
{
    color: red;
    margin-bottom: 10px;
}